<div class="user-container">
  <form [formGroup]="form">
    <div>
      <app-input
        formControlName="name"
        [control]="form.controls.name"
        label="{{ 'USER.NAME' | translate }}"/>
      <app-select
        formControlName="languaje"
        [control]="form.controls.languaje"
        [options]="languageOptions"
        label="{{ 'USER.LANGUAGE' | translate }}"
        (valueChanges)="changeLanguaje($event)"/>
    </div>
    <div>
      <app-input
        class="u-width-100"
        formControlName="email"
        [control]="form.controls.email"
        label="{{ 'USER.MAIL' | translate }}"/>
    </div>
    <div class="u-width-100">
      <div class="u-width-66">
        <app-input
          formControlName="nickname"
          [control]="form.controls.nickname"
          label="{{ 'USER.NICKNAME' | translate }}"/>
      </div>
      <div class="u-width-33 u-flex u-flex-space-center u-flex-center">
        @if (form.controls.nickname.disabled) {
          <button class="primary-button" (click)="editionMode()">
            <img class="icon icon-sm margin-right but-img" src="assets/icons/pen-solid2.svg" alt="edit">
            {{ "EDIT" | translate }}
          </button>
        } @else {
          <button class="primary-button" (click)="saveUser()">
            <img class="icon icon-sm margin-right but-img" src="assets/icons/floppy-disk-solid2.svg" alt="save">
            {{ "SAVE" | translate }}
          </button>
        }
      </div>
    </div>

  </form>
</div>
