@use '../../../../../assets/scss/custom-colors.scss' as colors;

.user-container {
  padding: 16px;
  height: calc(100dvh - (75px + 32px));

  display: flex;
  justify-content: center;

  background-attachment: fixed;
  background-image: url('assets/images/user.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  form {
    background-color: colors.$menu-background-50;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 16px 24px 24px 24px;
    height: fit-content;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;


    * {
      margin-top: 8px;
      display: flex;
      flex-direction: row;

      * {
        margin: 0;
      }

      *:not(:last-child) {
        margin-right: 8px;
      }

      button {
        margin-top: 8px;
      }
    }
  }

  img{
    padding: 12px 0;
    height: 20px;
    width: 20px;
  }
}


