  <div class="list-wrapper">
    <p class="list-title">{{ listName }}</p>
    @if(!!tableData.length){
      <app-table
        [tableConfig]="tableConfig"
        [tableData]="tableData"
      />
      <p class="u-width-100 u-text-right total-price">{{ "LISTS.TOTAL_PRICE" | translate: { price: getFormattedPrice() } }}</p>
    } @else {
      <p class="list-empty">{{ "LISTS.EMPTY_LIST" | translate }}</p>
    }

    <div class="button-row">
      <div class="button-group">
        <button class="secondary-button margin-right" (click)="handleDeleteList()">
          <img class="icon icon-sm margin-right" src="assets/icons/trash-can-solid.png" alt="cart">
          {{ "LISTS.ACTIONS.DELETE_LIST" | translate }}
        </button>
        <button class="secondary-button margin-right" (click)="handleTransforToReceipt()">
          <img class="icon icon-sm margin-right" src="assets/icons/Capa 3.png" alt="cart">
          {{ "LISTS.ACTIONS.TRANSFOR_TO_RECIPE" | translate }}
        </button>
      </div>
      <div class="button-group">
        <button class="secondary-button margin-right" (click)="handlePdf()">
          <img class="icon icon-sm margin-right" src="assets/icons/download-solid3.png" alt="pdf">
          {{ "LISTS.ACTIONS.PDF" | translate }}
        </button>
        <button class="secondary-button margin-right" (click)="handleImportReceit()">
          <img class="icon icon-sm margin-right" src="assets/icons/square-plus-solid.png" alt="cart">
          {{ "LISTS.ACTIONS.RECEIPTS" | translate }}
        </button>
        <button class="secondary-button margin-right" (click)="handleEditList()">
          <img class="icon icon-sm margin-right" src="assets/icons/pen-solid.png" alt="cart">
          {{ "LISTS.ACTIONS.EDIT_LIST_DETAILS" | translate }}
        </button>
        <button class="primary-button margin-right" (click)="handleAddArticle()">
          <img class="icon icon-sm margin-right" src="assets/icons/square-plus-solid2.png" alt="cart">
          {{ "LISTS.ACTIONS.ADD_ARTICLE" | translate }}
        </button>
      </div>
    </div>
  </div>

