<div class="article-detail-wrapper">
  <p class="title">{{ 'ARTICLE.DETAIL' | translate }}</p>

  @if(edditMode){
    <form [formGroup]="form" class="u-width-100">
      <div class="u-width-100 u-flex">
        <app-input
          class="half-width"
          formControlName="name"
          [control]="form.controls.name"
          label="{{ 'ARTICLE.NAME' | translate }}"/>
        <app-input
          class="half-width"
          formControlName="brand"
          [control]="form.controls.brand"
          label="{{ 'LISTS.BRAND' | translate }}"/>
      </div>
      <div class="full-width section">
        <app-input
          class="u-width-100"
          [area]="true"
          formControlName="description"
          [control]="form.controls.description"
          label="{{ 'LISTS.NEW_DESCRIPTION' | translate }}"/>
      </div>
      <div class="u-flex full-width section">
        <div class="u-width-100">
          <app-input
            class="u-width-100"
            [area]="true"
            formControlName="imageUrl"
            [control]="form.controls.imageUrl"
            label="{{ 'LISTS.NEW_URL' | translate }}"/>
        </div>
      </div>
    </form>
  } @else {
    <div class="article-card">
      <div class="image-wrapper">
        <img [src]="isImageURL(article.imageUrl) ?
        article.imageUrl : 'assets/images/default-article.jpg'" [alt]="article.name">
      </div>
      <div class="card">
        <div class="field">
          <p class="label">{{ 'ARTICLE.NAME' | translate }}</p>
          <p class="value">{{ article.name }}</p>
        </div>
        <div class="field">
          <p class="label">{{ 'ARTICLE.BRAND' | translate }}</p>
          <p class="value">{{ article.brand }}</p>
        </div>
        <div class="field">
          <p class="label">{{ 'ARTICLE.DESCRIPTION' | translate }}</p>
          <p class="value">{{ article.description }}</p>
        </div>
        <div class="field">
          <p class="label">{{ 'ARTICLE.URL' | translate }}</p>
          <p class="value">{{ article.imageUrl }}</p>
        </div>
        <div class="field">
          <p class="label">{{ 'ARTICLE.CATEGORIES' | translate }}</p>
          <p class="value">{{ getCategoryName() }}</p>
        </div>
        <div class="field">
          <p class="label">{{ 'ARTICLE.AVERAGE_PRICE' | translate }}</p>
          <p class="value">{{ getFormattedPrice(article.averagePrice) }}</p>
        </div>
      </div>
    </div>
  }

  <div class="u-flex">
    <p class="tab" [ngClass]="currentTab === 1 ? 'selected' : ''" (click)="setTab(1)">
      {{ "ARTICLE.PRICES" | translate }}
    </p>
    <p class="tab" [ngClass]="currentTab === 2 ? 'selected' : ''" (click)="setTab(2)">
      {{ "ARTICLE.CATEGORIES" | translate }}
    </p>
  </div>
  @if(currentTab === 1) {
    @if(!addPriceMode){
      <div class="bottom-space">
        <app-table
          [tableConfig]="pricesTableConfig"
          [tableData]="pricesTableData"
        />
      </div>
    } @else {
      <form [formGroup]="priceForm" class="u-width-100 price-form">
        <div class="article-group">
          <p >{{ "ARTICLE.NEW_PRICE" | translate }}</p>
        </div>
        <div class="u-flex u-width-100">
          <app-input
            class="half-width"
            formControlName="cost"
            type="number"
            [control]="priceForm.controls.cost"
            label="{{ 'ARTICLE.PRICE' | translate }}"/>
          <app-input
            class="half-width"
            formControlName="currency"
            [control]="priceForm.controls.currency"
            label="{{ 'ARTICLE.CURRENCY' | translate }}"/>
        </div>
        <div class="u-flex full-width">
          <app-input
            class="u-width-100"
            formControlName="shop"
            [control]="priceForm.controls.shop"
            label="{{ 'ARTICLE.SHOP' | translate }}"/>
        </div>
        <div class="u-flex u-flex-end u-width-100 margin-top">
          <button class="secondary-button margin-right" (click)="handleAddPrice()">
            <img class="icon icon-sm margin-right" src="assets/icons/trash-can-solid.svg" alt="cart">
            {{ "ARTICLE.CANCEL_ADD_PRICE" | translate }}
          </button>
          <button class="primary-button" (click)="handleSavePrice()" [disabled]="!priceForm.valid">
            <img class="icon icon-sm margin-right" src="assets/icons/floppy-disk-solid2.svg" alt="cart">
            {{ "SAVE" | translate }}
          </button>
        </div>
      </form>
    }
  }
  @if(currentTab === 2) {
    <div class="bottom-space">
      <app-table
        [tableConfig]="categoriesTableConfig"
        [tableData]="categoriesTableData"
      />
    </div>
  }

  <div class="u-flex u-flex-space-between u-width-100 margin-top">
    @if(currentTab === 1) {
      <button class="secondary-button margin-right" (click)="handleAddPrice()" [disabled]="addPriceMode || publicMode">
        <img class="icon icon-sm margin-right" src="assets/icons/square-plus-solid.svg" alt="cart">
        {{ "ARTICLE.ADD_PRICE" | translate }}
      </button>
    } @else {
      <div></div>
    }
    <div class="u-flex">
      <button class="secondary-button margin-right" (click)="handleCancel()">
        <img class="icon icon-sm margin-right" src="assets/icons/trash-can-solid.svg" alt="cart">
        {{ "CLOSE" | translate }}
      </button>
      @if(!edditMode){
        <button class="primary-button" (click)="handleEdit()" [disabled]="publicMode">
          <img class="icon icon-sm margin-right" src="assets/icons/pen-solid2.svg" alt="cart">
          {{ "EDIT" | translate }}
        </button>
      } @else {
        <button class="secondary-button margin-right" (click)="handleEdit()">
          <img class="icon icon-sm margin-right" src="assets/icons/trash-can-solid.svg" alt="cart">
          {{ "ARTICLE.CANCEL_EDIT" | translate }}
        </button>
        <button class="primary-button" (click)="handleSave()" [disabled]="!form.valid">
          <img class="icon icon-sm margin-right" src="assets/icons/floppy-disk-solid2.svg" alt="cart">
          {{ "SAVE" | translate }}
        </button>
      }
    </div>
  </div>
</div>
