@use 'assets/scss/custom-colors.scss' as colors;

.footer-wraper {
  align-items: center;
  background-color: colors.$menu-background;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  justify-content: end;
  min-height: 25px;
  width: 100%;

  .footer-text {
    color: colors.$menu-text-color-fade;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75rem;
    min-width: max-content;
    padding: 0 0.8rem;
  }
}

// Mobile phone configuration
@media (max-width: 600px) {
  .author {
    display: none;
  }
}

@media (max-width: 450px) {
  .footer-wraper {
    display: none;
  }
}
