@use 'assets/scss/custom-colors.scss' as colors;

.logger-wraper {
  min-height: 240px;
  padding: 24px;

  .logger-text {
    color: darken(colors.$menu-background, 10%);
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 30px;
    padding: 0 3rem;
    text-align: center;
  }
}
