@use 'assets/scss/custom-colors.scss' as colors;

.home-container {
  background-attachment: fixed;
  background-image: url('assets/images/home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: calc(100dvh - (75px + 32px));
  min-width: min-content;
  padding: 16px;

  &__card {
    backdrop-filter: blur(8px);
    background-color: colors.$menu-background-50;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    height: fit-content;
    margin-top: 80px;
    padding: 24px;
    width: min-content;
  }

  .menu-logo {
    height: 64px;
    padding: 16px 32px;
  }

  .explanation {
    color: colors.$orange-a1000;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: justify;
  }
}

@media (max-width: 600px) {
  .home-container {
    .menu-logo {
      height: 54px;
      padding: 14px 28px;
    }

    .explanation {
      font-size: 1.1rem;
    }
  }
}

@media (max-width: 450px) {
  .home-container {
    .menu-logo {
      height: 48px;
      padding: 12px 24px;
    }

    .explanation {
      font-size: 1rem;
    }
  }
}
