<div class="add-list-wraper u-flex u-flex-column u-flex-center">
  <p class="add-list-text">{{ 'LISTS.ADD_LIST' | translate }}</p>
  <form [formGroup]="form" class="u-width-100" (keydown.enter)="handleSave()">
    <app-input
      class="u-width-100 margin-bottom"
      formControlName="name"
      [control]="form.controls.name"
      label="{{ 'USER.NAME' | translate }}"/>
    <div class="u-flex u-width-100 margin-bottom margin-top">
      <input type="checkbox" id="public" formControlName="public">
      <label for="public">{{ "LISTS.PUBLIC_LIST" | translate }}</label>
    </div>
  </form>
  <div class="u-flex u-flex-end u-width-100">
    <div class="u-flex">
      <button class="secondary-button margin-right" (click)="handleCancel()">
        <img class="icon icon-sm margin-right" src="assets/icons/trash-can-solid.svg" alt="cart">
        {{ "CANCEL" | translate }}
      </button>
      <button class="primary-button" (click)="handleSave()" [disabled]="!form.valid">
        <img class="icon icon-sm margin-right" src="assets/icons/floppy-disk-solid2.svg" alt="cart">
        {{ "LISTS.SAVE_LIST" | translate }}
      </button>
    </div>
  </div>
</div>
