@use 'assets/scss/custom-colors.scss' as colors;

.recipes-main-component {
  background-attachment: fixed;
  background-image: url('assets/images/recipes.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: calc(100dvh - (75px + 32px));
  min-width: min-content;
  padding: 16px;

  &__table {
    backdrop-filter: blur(8px);
    background-color: colors.$menu-background-50;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    height: fit-content;
    margin-top: 50px;
    max-height: 90%;
    min-width: 40%;
    padding: 24px;
    width: min-content;

    .table-title {
      color: darken(colors.$menu-background, 70%);
      font-size: 2.2rem;
      margin: 16px;
      min-width: max-content;
      text-align: center;
      text-shadow: 2px 2px 2px colors.$menu-text-color-fade;
    }
  }
}
