<div class="add-recipe-wraper u-flex u-flex-column u-flex-center">
  @if(edditMode){
    <p class="add-recipe-text">{{ 'RECIPES.EDIT_RECIPE' | translate }}</p>
  }@else {
    <p class="add-recipe-text">{{ 'RECIPES.ADD_RECIPE' | translate }}</p>
  }
  <form [formGroup]="form" class="u-width-100" (keydown.enter)="handleSave()">
    <app-input
      class="u-width-100 margin-bottom"
      formControlName="name"
      [control]="form.controls.name"
      label="{{ 'USER.NAME' | translate }}"/>
    <app-input
      class="u-width-100 margin-bottom"
      formControlName="description"
      [area]="true"
      [control]="form.controls.description"
      label="{{ 'RECIPES.DESCRIPTION' | translate }}"/>
  </form>
  <div class="u-flex u-flex-end u-width-100">
    <div class="u-flex">
      <button class="secondary-button margin-right" (click)="handleCancel()">
        <img class="icon icon-sm margin-right" src="assets/icons/trash-can-solid.png" alt="cart">
        {{ "CANCEL" | translate }}
      </button>
      <button class="primary-button" (click)="handleSave()" [disabled]="!form.valid">
        <img class="icon icon-sm margin-right" src="assets/icons/floppy-disk-solid2.png" alt="cart">
        {{ "RECIPES.SAVE_RECIPE" | translate }}
      </button>
    </div>
  </div>
</div>
