@use '../../../assets/scss/custom-colors.scss' as colors;

.comunity-wrapper {
  background-attachment: fixed;
  background-image: url('../../../assets/images/comunity.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: calc(100dvh - (75px + 32px));
  min-width: min-content;
  padding: 16px;

  .comunity__card {
    backdrop-filter: blur(8px);
    background-color: colors.$menu-background-50;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    height: fit-content;
    margin-top: 50px;
    max-height: 90%;
    min-width: 40%;
    padding: 24px;
    width: min-content;

    .comunity-title {
      color: darken(colors.$menu-background, 70%);
      font-size: 2.2rem;
      margin: 16px;
      min-width: max-content;
      text-align: center;
      text-shadow: 2px 2px 2px colors.$menu-text-color-fade;
    }

    .comunity__table {
      align-items: center;
      background-color: colors.$menu-background-contrast-70;
      border: 1px solid colors.$menu-background;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      padding: 24px;

      .comunity-explanation {
        color: darken(colors.$menu-background, 10%);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 30px;
        padding: 0 2rem;
      }
    }
  }
}

@media (max-width: 600px) {
  .comunity-wrapper {
    min-height: 100vh;
    padding: 16px 8px;

    .comunity__card {
      padding: 24px 12px;

      .comunity__table {
        padding: 16px;
      }
    }
  }
}

@media (max-width: 450px) {
  .comunity-wrapper {
    padding: 12px 4px;

    .comunity__card {
      padding: 16px 4px;

      .comunity__table {
        padding: 12px 4px;
      }
    }
  }
}
