@use '../../../../assets/scss/custom-colors.scss' as colors;

.footer-wraper {
  align-items: center;
  background-color: colors.$menu-background;
  display: flex;
  flex-direction: row;
  justify-content: end;
  font-weight: 500;
  min-height: 25px;
  width: 100%;

  .footer-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75rem;
    color: colors.$menu-text-color-fade;
    padding: 0 0.8rem;
    min-width: max-content;
  }
}
