@use '../../../../../assets/scss/custom-colors.scss' as colors;

.add-article-wrapper {
  padding: 24px;
  min-height: min-content;
  min-width: 480px;

  .add-list-text {
    color: colors.$menu-background;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 3rem;
    text-align: center;
    margin-bottom: 30px;
  }

  .section {
    margin-top: 20px;
  }
}

button {
  margin-top: 10px;
  max-height: 32px;
}

.articleForm{
  border-radius: 8px;
  border: 1px solid colors.$menu-background;
  padding: 12px;
  padding-right: 20px;
  width: calc(100% - 32px);
}
