@use 'assets/scss/custom-colors.scss' as colors;

.comunity-detail-wrapper {
  background-attachment: fixed;
  background-image: url('assets/images/list-detail.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: calc(100dvh - (75px + 32px));
  min-width: min-content;
  padding: 16px;

  .comunity-detail-card {
    backdrop-filter: blur(8px);
    background-color: colors.$menu-background-50;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    height: fit-content;
    margin-top: 50px;
    max-height: 90%;
    min-width: 40%;
    padding: 24px;
    width: min-content;
  }
}

// Small Mobile phone configuration
@media (max-width: 600px) {
  .comunity-detail-wrapper {
    padding: 8px;

    .comunity-detail-card {
      padding: 18px 8px;
    }
  }
}

// Small Mobile phone configuration
@media (max-width: 450px) {
  .comunity-detail-wrapper {
    padding: 4px;

    .comunity-detail-card {
      padding: 12px 0px;
    }
  }
}
