@use 'assets/scss/custom-colors.scss' as colors;

.comunity-detail-wrapper {
  padding: 16px;
  min-height: calc(100dvh - (75px + 32px));

  display: flex;
  justify-content: center;
  min-width: min-content;

  background-attachment: fixed;
  background-image: url('assets/images/list-detail.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .comunity-detail-card {
    margin-top: 50px;
    background-color: colors.$menu-background-50;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 24px;
    width: min-content;
    min-width: 40%;
    height: fit-content;
    max-height: 90%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}
