@use '../../../../assets/scss/custom-colors.scss' as colors;

.menu-wraper {
  background-color: colors.$menu-background;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  min-height: 50px;
  width: 100%;

  .menu-title {
    font-size: 1.6rem;
    color: colors.$menu-text-color;
    padding: 0 3rem;
    min-width: max-content;
  }

  .menu-divider {
    height: 50px;
  }
  .menu-options {
    .menu-option {
      height: 100%;
      color: colors.$menu-text-color;
      cursor: pointer;
      padding: 0 1rem;

      &:hover {
       text-shadow: 0 0 5px colors.$menu-text-color;
      }
    }
  }

  .menu-logo {
    height: 50px;
    padding: 0 1rem;
    width: auto;
  }

  .menu-right {
    height: 100%;

    .menu-social {
      background-color: colors.$menu-background-secondary;
      color: colors.$menu-text-color;
      height: 100%;
      padding: 0 1rem;

      .user-img {
        border-radius: 15px;
        height: 30px;
        width: 30px;
        margin-right: 8px;
      }

      p {
        color: colors.$menu-text-color;
        font-size: 0.9rem;
        font-weight: 700;
      }

      .log-out-icon {
        cursor: pointer;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        font-size: 1.5rem;
        margin-left: 8px;
        margin-bottom: 8px;
      }

      .login-button {
        background-color: colors.$menu-background-secondary;
        border: none;
        color: colors.$menu-text-color;
        cursor: pointer;
        font-size: 1.3rem;
        padding: 0 16px 0 6px;
        text-transform: unset;
        min-width: max-content !important;
        display: flex;
        align-items: center;

        &:hover {
          text-shadow: 0 0 5px colors.$menu-text-color;

          .menu-icon {
            filter: drop-shadow(0 0 15px colors.$menu-text-color);
          }
        }
      }
    }
  }

  .menu-icon{
    border-radius: 4px;
    height: 24px;
    width: 24px;
    margin-right: 24px;
    cursor: pointer;

    &:hover {
      filter: drop-shadow(0 0 5px colors.$menu-text-color)
    }

    &-mini {
      height: 20px;
      width: 20px;
      margin: 0 4px;

      &:hover {
        filter: drop-shadow(0 0 5px colors.$menu-text-color)
      }
    }
  }
}
