<div class="lists-main-component">
  <div class="lists-main-component__table">
    <p class="table-title">{{ "LISTS.TITLE" | translate }}</p>
    <div class="u-flex u-flex-space-between u-flex-align-center">
      <app-select
        class="u-width-50 margin-bottom"
        label="{{ 'LISTS.SELECT_LIST' | translate }}"
        [options]="listsOptions"
        [control]="control"
        (valueChanges)="handleListChange($event)"
      />
      <button class="primary-button" (click)="handleNewList()">
        <img class="icon icon-sm margin-right" src="assets/icons/square-plus-solid2.png" alt="cart">
        {{ "LISTS.ADD_LIST" | translate }}
      </button>
    </div>
      <app-list
        #list
        [user]="user"
        [swLastList]="listsOptions.length === 1"
      />
  </div>
</div>
