@use '../../../../../assets/scss/custom-colors.scss' as colors;

.lists-main-component {
  padding: 16px;
  height: calc(100dvh - (75px + 32px));

  display: flex;
  justify-content: center;

  background-attachment: fixed;
  background-image: url('assets/images/lists.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &__table {
    margin-top: 80px;
    background-color: colors.$menu-background-50;
    backdrop-filter: blur(8px);
    border-radius: 10px;
    padding: 24px;
    width: min-content;
    height: fit-content;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    .table-title {
      font-size: 1.5rem;
      font-weight: 500;
      margin: 16px;
      min-width: max-content;
    }
  }
}
