<div class="table-wraper">
  @if(tableData.length) {
    <div class="columns">
      @for(column of tableConfig.columns; track column.key; let cIndex = $index) {
        <div class="column">
          <p class="column-header" [ngClass]="getHeaderClass(cIndex)">
            {{ column.label }}
          </p>
          @for(row of currentPageData; track row.id; let rIndex = $index) {
            <div class="column-row" [ngClass]="getRowClass(rIndex, cIndex)">
              @if(column.type === tableColumnTypeEnum.ACTIONS) {
                <div class="action-wrapper">
                  <img class="icon-action" [src]="'assets/icons/' + column.actionIcon" alt="cart" (click)="row['class'] === 'disabled' ? null :doAction(row, column)" [ngClass]="row['class']">
                </div>
              } @else {
                <p [ngClass]="column['aling']?.toString() || 'left'" [style]="column.type === tableColumnTypeEnum.TEXT ? row['style'] : ''">
                  {{ cutString(row[column.key], column.maxChars) }}
                </p>
              }
            </div>
          }
        </div>
      }
    </div>
    <div class="pagination">
      <div class="u-flex u-flex-center">
        <p>{{ "TABLE.PAGE_OF" | translate: { page: tableConfig.pagination.actualPage, pages: totalPages } }}</p>
        <div class="u-flex u-flex-center margin-left">
          <p class="margin-left u-text-wide">{{ "TABLE.PAGE_SIZE" | translate }}</p>
          <app-select
            [options]="sizeOptions"
            [control]="control"
            (valueChanges)="changePageSize($event)"
          />
        </div>
      </div>

      <div class="pagination-buttons u-flex u-flex-center">
        <button
          class="pagination-button"
          [disabled]="tableConfig.pagination.actualPage === NUMBERS.N_1"
          (click)="changePage(NUMBERS.N_1)">
            <img class="icon-action" src="assets/icons/backward-fast-solid3.svg" alt="first" [ngClass]="{'disabled': tableConfig.pagination.actualPage === NUMBERS.N_1}">
        </button>
        <button
          class="pagination-button"
          [disabled]="tableConfig.pagination.actualPage === NUMBERS.N_1"
          (click)="changePage(tableConfig.pagination.actualPage - NUMBERS.N_1)">
            <img class="icon-action" src="assets/icons/backward-solid3.svg" alt="back" [ngClass]="{'disabled': tableConfig.pagination.actualPage === NUMBERS.N_1}">
        </button>
        <button
          class="pagination-button"
          [disabled]="tableConfig.pagination.actualPage === totalPages"
          (click)="changePage(tableConfig.pagination.actualPage + NUMBERS.N_1)">
          <img class="icon-action" src="assets/icons/forward-solid3.svg" alt="next" [ngClass]="{'disabled': tableConfig.pagination.actualPage === totalPages}">
        </button>
        <button
          class="pagination-button"
          [disabled]="tableConfig.pagination.actualPage === totalPages"
          (click)="changePage(totalPages)">
            <img class="icon-action" src="assets/icons/forward-fast-solid3.svg" alt="last" [ngClass]="{'disabled': tableConfig.pagination.actualPage === totalPages}">
        </button>
      </div>
    </div>
  }
  @else {
    <div class="no-data">
      <p>{{ "TABLE.NO_DATA" | translate }}</p>
    </div>}

</div>
