@use 'assets/scss/custom-colors.scss' as colors;

.list-to-recipe-wraper {
  min-height: min-content;
  min-width: 380px;
  padding: 24px;

  .list-to-recipe-text {
    color: darken(colors.$menu-background, 10%);
    font-size: 1.6rem;
    margin-bottom: 30px;
    padding: 0 3rem;
    text-align: center;
  }

  form {
    margin-bottom: 35px;
  }
}
